<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SatsServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	  <trace enabled="false" pageOutput="false" requestLimit="50" mostRecent="true" />
  </system.web>
  <applicationSettings>
    <SatsServices.Properties.Settings>
      <setting name="DefaultImageResponseFormat" serializeAs="String">
        <value>png</value>
      </setting>
      <setting name="ImageFormatRequestKey" serializeAs="String">
        <value>fmt</value>
      </setting>
      <setting name="ImageDimensionsRequestKey" serializeAs="String">
        <value>dim</value>
      </setting>
      <setting name="DefaultImageResponseDimensions" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="ImageDimensionsMin" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="ImageDimensionsMax" serializeAs="String">
        <value>4096</value>
      </setting>
      <setting name="ImageBackgroundColorRequestKey" serializeAs="String">
        <value>bgc</value>
      </setting>
      <setting name="ImageForegroundColorRequestKey" serializeAs="String">
        <value>fgc</value>
      </setting>
      <setting name="DefaultImageResponseBackgroundColor" serializeAs="String">
        <value>ddd</value>
      </setting>
      <setting name="DefaultImageResponseForegroundColor" serializeAs="String">
        <value>000</value>
      </setting>
      <setting name="ImageDataRequestKey" serializeAs="String">
        <value>data</value>
      </setting>
      <setting name="ImageRenderingLabelsFontName" serializeAs="String">
        <value>Tahoma</value>
      </setting>
      <setting name="DataItem1GPSMin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DataItem1GPSMax" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="DataItem1GLONASSMin" serializeAs="String">
        <value>65</value>
      </setting>
      <setting name="DataItem1GLONASSMax" serializeAs="String">
        <value>88</value>
      </setting>
      <setting name="NumberOfFieldsInPointStructure" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DataItem2Min" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DataItem2Max" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="DataItem3Min" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DataItem3Max" serializeAs="String">
        <value>360</value>
      </setting>
      <setting name="DataItem4Min" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DataItem4Max" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="DataItem5Min" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DataItem5Max" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="StrengthLevel0Color" serializeAs="String">
        <value>ddfafafa</value>
      </setting>
      <setting name="StrengthLevel1Min" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="StrengthLevel1Max" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="StrengthLevel1Color" serializeAs="String">
        <value>ddC598ED</value>
      </setting>
      <setting name="StrengthLevel2Min" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="StrengthLevel2Max" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="StrengthLevel2Color" serializeAs="String">
        <value>ddA6CAF0</value>
      </setting>
      <setting name="StrengthLevel3Min" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="StrengthLevel3Max" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="StrengthLevel3Color" serializeAs="String">
        <value>ddA6E917</value>
      </setting>
      <setting name="StrengthLevel4Min" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="StrengthLevel4Max" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="StrengthLevel4Color" serializeAs="String">
        <value>ddFDFD02</value>
      </setting>
      <setting name="StrengthLevel5Min" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="StrengthLevel5Max" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="StrengthLevel5Color" serializeAs="String">
        <value>ddFCB42E</value>
      </setting>
      <setting name="StrengthLevel6Min" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="StrengthLevel6Max" serializeAs="String">
        <value>71</value>
      </setting>
      <setting name="StrengthLevel6Color" serializeAs="String">
        <value>ddF17872</value>
      </setting>
      <setting name="IsHandlerReusable" serializeAs="String">
        <value>True</value>
      </setting>
    </SatsServices.Properties.Settings>
  </applicationSettings>
</configuration>